*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
*:not(.fa){
	font-family: "Comfortaa",sans-serif;
}
a{
	text-decoration: none !important;
}
li,ul{
	list-style-type: none !important;
}
body{
  position: relative;
	padding: 0;
  margin: 0;
	background-color:#fffdf4;
}
button:focus{
	outline: 0 !important;
}
/*===*/
main{
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
}
#border-left,
#border-right,
#wrapper{
  display: table-cell;
  vertical-align: top;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  position: relative;
}
#border-left:after,
#border-right:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  z-index: 1;
}
#wrapper{
  width: 1400px;
}
@media(max-width:1450px){
  #wrapper{
    width: 100%;
  }
}
#masthead{
  width: 100%;
  background-color: white;
  left: 0;
  font-size: 16px;
}
#masthead section{
  width: 100%;
}
.logo{
  vertical-align: middle;
  display: inline-block;
  padding-left: 3em;
}
#masthead .logo{
	width: 33.3%;
  text-align: left;
}
.footer .logo{
	text-align: center;
}
.logo a{
  display: inline-block;
  text-align: left;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
}
#masthead .logo img {
  width: 7em;
}
.footer .logo img{
  width: 5em;
}
.logo h1,
.logo h2{
  display: inline-block;
  line-height: 1em;
  font-weight: normal;
  text-transform: capitalize;
  vertical-align: middle;
  line-height: 0.9em;
}
.logo h1 {
  color: #00781a;
  font-size: 2.75em;
}
.footer h2{
	color: white;
	font-size: 2em;
}
.logo span{
  display: block;
  height: 0;
}
#contact-nav,
#main-nav {
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.5em;
}
#main-nav {
	width: 100%;
  background-color: #00bda6;
}
#main-nav ul {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
#main-nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 14.3%;
  margin-left: -5px;
}
#main-nav ul li a{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25em;
  text-transform: capitalize;
  border: 0;
  color: white;
  background-color:transparent;
  border-bottom: 0.1em solid transparent;
  transition: 0.3s;
}
#contact-nav{
  width: 100%;
  text-align: right;
}
#contact-nav ul {
  display: inline-block;
  vertical-align: middle;
  width: 66.6%;
  margin-left: -5px;
  text-align: right;
  padding-right: 3em;
}
#contact-nav ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
}
#contact-nav ul li a {
  color: black;
  font-size: 1.5em;
  letter-spacing: 1px;
  border-bottom: 0.1em solid transparent;
  transition: 0.3s;
}
#contact-nav ul li a:hover{
  border-bottom: 0.1em solid black;
}
#contact-nav ul li a span{
  font-size: 0.75em;
  text-transform: capitalize;
}
.social{
	display: block;
}
.social a {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: 0em 0.25em;
  background-size: cover;
  background-image: url('images/facebook_twitter_pinterest_youtube2.jpg');
  background-repeat: no-repeat;
}
.facebook-social {
 background-position:0 0;
}
.twitter-social {
 background-position:32% 0;
}
#main-nav ul li a:hover{
  border-bottom: 0.1em solid black;
}
@media(max-width:1300px){
	.logo {
    padding-left: 1em;
	}
	#contact-nav ul {
    padding-right: 1em;
	}
}
@media(max-width:1200px){
	#masthead .logo {
    width: 40%;
	}
	#contact-nav ul {
    width: 60%;
	}
}
@media(max-width:1000px){
	#main-nav {
		font-family: 15px;
	}
  #masthead{
    font-size: 15px;
  }
}
@media(max-width:900px){
	#contact-nav ul {
	  width: 50%;
	}
	#masthead .logo {
    width: 50%;
	}
}
@media(max-width:800px){
  #masthead {
    font-size: 14px;
  }
	#main-nav {
		font-size: 14px;
	}
}
@media(max-width:700px){
	#masthead{
		font-size: 12px;
	}
	#main-nav {
		font-size: 12px;
	}
}
.menu-btn {
  display: none;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 4em;
  height: 3em;
  transition: 0.3s;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.menu-btn hr {
	display: block;
	width: 100%;
	height: 0.35em;
	background-color: black;
	border: 0;
	transition: 0.3s;
	position: absolute;
}
.menu-btn-hr-1{
	top: 0;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.menu-btn-hr-3{
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1{
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2{
	opacity: 0;
}
.menu-btn.active .menu-btn-hr-3{
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
@media(max-width:600px){
	.logo h1 {
    color: #00781a;
    font-size: 2.25em;
	}
	#masthead section{
		position: relative;
	}
	.menu-btn{
		display: block;
	}
	main {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
	}
	#masthead .logo {
    width: 50%;
    margin: 0 auto;
    display: block;
	}
	.social {
    position: absolute;
    right: 1em;
    top: 1em;
	}
	#contact-nav ul {
    width: 100%;
    text-align: center;
    padding-right: 0em;
		margin-top: 1.5em;
	}
	#contact-nav ul li {
		display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: -3px;
	}
	#main-nav {
	  position: absolute;
	  z-index: 999;
	  width: 100%;
	  transform: scaleY(0);
		transform-origin: top;
		transition: 0.3s;
	}
	#main-nav.active{
	  transform: scaleY(1);
	}
	#main-nav ul li {
	  display: block;
	  vertical-align: middle;
	  text-align: center;
	  width: 100%;
	  margin-left: 0;
	  padding: 1em;
	}
	#border-left,
	#border-right{
    display: none;
	}
	#wrapper {
    width: 100%;
    display: inline-block;
    white-space: normal;
	}
}
@media(max-width:540px){
	#masthead .logo{
    width: 23em;
    margin: 0 auto;
    display: block;
	}
	#masthead {
    font-size: 10px;
	}
	#main-nav {
		font-size: 12px;
	}
	.social a {
    width: 3em;
    height: 3em;
	}
	#contact-nav ul li a {
    font-size: 2em;
	}
	#contact-nav ul li a span {
    display: block;
	}
	#masthead .logo img {
    width: 6em;
	}
}
@media(max-width:400px){
	.logo h1 {
    color: #00781a;
    font-size: 2.25em;
	}
	#masthead {
    font-size: 8px;
	}
	#main-nav {
		font-size: 10px;
	}
	.menu-btn {
    width: 3em;
    height: 2em;
	}
}
/*==*/
#banner{
  width: 100%;
  height: 35em;
  position: relative;
  background-image: url("images/cockpit.png");
  background-size: cover;
  background-position: top;
  font-size: 17px;
}
#bannerBefore{
	content: "";
	position: fixed;
	width: 100%;
	height: 50em;
	left: 0;
	top: 0;
	z-index: -1;
	background-image: url("images/background1.jpg");
	background-size: cover;
	background-position: bottom;
	opacity: 0;
	transition: 0.3s;
}
.checkpoint-first.active #bannerBefore{
	opacity: 1
}
#banner header{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  z-index: 3;
}
#banner header h2 {
  font-size: 3em;
  color: white;
  text-transform: capitalize;
  font-weight: normal;
  text-shadow: 0px 3px 5px #000000ba;
}
#banner h3 {
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 2px 5px #0000008f;
}
@media(max-width:1300px){
	#banner{
		font-size: 16px;
	}
}
@media(max-width:1000px){
	#banner{
		font-family: 15px;
	}
}
@media(max-width:800px){
  #banner{
    font-size: 14px;
  }
}
@media(max-width:600px){
	#bannerBefore {
	  content: "";
	  position: fixed;
	  width: 100%;
	 	height: 50em;
	}
}
@media(max-width:700px){
	#banner{
		font-size: 12px;
	}
}
@media(max-width:500px){
	#banner{
    font-size: 10px;
	}
}
@media(max-width:400px){
	#banner{
    font-size: 8px;
	}
}
/*-===========================--*/
#island-nav{
	font-size: 17px;
	width: 100%;
	background-color: white;
	text-align: center;
}
#island-nav header {
	font-size: 2.2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.75em;
}
#island-nav ul{
	width: 90%;
	margin: 0 auto;
}
#island-nav ul li {
  overflow: hidden;
  display: inline-block;
  width: 10em;
  height: 12em;
  margin: 0em 1em;
}
#island-nav ul li a{
	transition: 0.3s;
	transform: scale(1);
	display: block;
}
#island-nav ul li a:hover{
	transform: scale(1.2);
}
#island-nav ul li img{
	width: 400%;
}
#maui-icon{
	margin-left: -100%;
}
#kauai-icon{
	margin-left: -200%;
}
#big-island-icon{
	margin-left: -300%;
}
#island-nav span {
  font-size: 1.5em;
  text-transform: capitalize;
	color: black;
}
@media(max-width:1300px){
	#island-nav{
		font-size: 16px;
	}
}
@media(max-width:1000px){
	#island-nav{
		font-family: 15px;
	}
}
@media(max-width:900px){
	#island-nav ul {
	  width: 100%;
	}
}
@media(max-width:800px){
  #island-nav{
    font-size: 14px;
  }
}
@media(max-width:700px){
	#island-nav{
		font-size: 12px;
	}
}
@media(max-width:600px){
	#island-nav ul li {
		height:15em;
    width: 15em;
	}
}
@media(max-width:500px){
	#island-nav{
    font-size: 10px;
	}
}
@media(max-width:400px){
	#island-nav{
    font-size: 8px;
	}
}
/*============================*/
#featured-cont {
  background-color: white;
  font-size: 17px;
  text-align: center;
}
#featured-cont header {
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.75em;
}
#featured-cont ul{
	width: 100%;
  margin: 0 auto;
	padding: 2em;
}
#featured-cont ul li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-left: -2px;
  margin-right: -2px;
}
#p1 section{
	margin-right: 1em;
	background-size: cover;
	background-position: bottom;
	background-image: url("images/helicopterImg2.jpeg");
}
#p2 section{
	margin-right: 1em;
	background-position: bottom;
	background-size: cover;
	background-image: url("images/helicopterImg2.jpeg");
}
#p3 section{
	margin-right: 1em;
	background-position: bottom;
	background-size: cover;
	background-image: url("images/helicopterImg2.jpeg");
}
#p4 section{
	background-position: bottom;
	background-size: cover;
	background-image: url("images/helicopterImg2.jpeg");
}
.discount-badge{
	position: absolute;
	left: 1em;
	top: 1em;
	background-color: white;
	color: darkblue;
	font-size: 1em;
	border-radius: 3em;
	padding: 0.75em;
}
.discount-badge span {
  font-size: 1.5em;
}
#featured-cont ul li section{
	height: 24em;
	position: relative;
}
#featured-cont ul li section article {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5em;
  padding-left: 1em;
	padding-right: 1em;
  padding-bottom: 1em;
  background: -moz-linear-gradient(top, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  background: -webkit-linear-gradient(top, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  background: linear-gradient(to bottom, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#784775b2',GradientType=0 );
}
#featured-cont ul li section h3 {
  font-size: 1.25em;
  color: white;
  text-transform: capitalize;
  padding: 0.75em 0em;
}
#featured-cont ul li section p {
  color: white;
	text-transform: capitalize;
  font-size: 0.9em;
}
#featured-cont ul li section p{
	color: white;
}
#featured-cont ul li section dl {
  text-transform: capitalize;
  display: inline-block;
  width: 50%;
  margin-right: -3px;
	vertical-align: middle;
}
#featured-cont ul li section dd{
	font-size: 1em;
	color: white;
}
#featured-cont ul li section dt {
  color: white;
  font-size: 1.25em;
}
#featured-cont ul li section a {
  text-transform: capitalize;
  display: inline-block;
  width: 50%;
  margin-left: -3px;
  text-align: center;
  color: white;
	border: 2px solid white;
  padding: 0.5em 0em;
  border-radius: 2em;
	vertical-align: middle;
	transition: 0.3s;
}
#featured-cont ul li section a:hover{
  background-color: gold;
  color: darkblue;
}
@media(max-width:1300px){
	#featured-cont{
		font-size: 16px;
	}
}
@media(max-width:1000px){
	#featured-cont ul {
    width: 75%;
	}
	#featured-cont ul li {
    width: 50%;
	}
	#p1 section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p2 section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p3 section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p4 section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#featured-cont{
		font-family: 15px;
	}
}
@media(max-width:800px){
  #featured-cont{
    font-size: 14px;
  }
}
@media(max-width:700px){
	#featured-cont{
		font-size: 12px;
	}
	#featured-cont ul {
    width: 100%;
	}
	#featured-cont ul {
		padding: 0.5em;
	}
}
@media(max-width:400px){
	#featured-cont{
		font-size: 11px;
	}
	#featured-cont ul li section article {
    padding-left: 0.5em;
    padding-right: 0.5em;
	}
}
/*==============================*/
#about {
  background-color: #008080d1;
  font-size: 17px;
  text-align: center;
  padding: 2em;
}
.checkpoint.active #about:before{
	opacity: 1;
}
#about:before{
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background-image: url("images/background1.jpg");
	background-size: cover;
	background-position: bottom;
	opacity: 0;
	transition: 0.3s;
}
#about .about-img {
  display: inline-block;
  margin-right: -5px;
  width: 40%;
  overflow: hidden;
  height: 100%;
  position: relative;
  vertical-align: middle;
  height: 25em;
}
#about .about-img img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 100%;
}
#about article{
	width: 60%;
	margin-left: -5px;
	display: inline-block;
	padding: 2em;
	vertical-align: middle;
}
#about article header{
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.75em;
	color: white;
}
#about article p{
	color: white;
	font-size: 1em;
	line-height: 2em;
}
#about article ul {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}
#about article li {
  margin-bottom: 1em;
  display: inline-block;
  width: 50%;
  margin-left: -5px;
  text-align: center;
  padding: 1em;
}
#about article img {
  height: 2em;
  margin-right: 1em;
  vertical-align: middle;
  display: inline-block;
}
#about article p {
  color: white;
  font-size: 1em;
  line-height: 2em;
}
#about article span {
  font-size: 1.5em;
  color: white;
  text-transform: capitalize;
	margin-bottom: 0em;
	display: block;
}
@media(max-width:1300px){
	#about{
		font-size: 16px;
	}
}
@media(max-width:1030px){
	#about .about-img {
    display: block;
    height: 12em;
    margin: 0 auto;
    width: 18em;
	}
	#about article {
		padding: 0;
	}
}
@media(max-width:1000px){
	#about{
		font-family: 15px;
	}
}
@media(max-width:800px){
  #about{
    font-size: 14px;
  }
}
@media(max-width:700px){
	#about{
		font-size: 12px;
	}
	#about article {
    width: 100%;
	}
}
@media(max-width:400px){
	#about{
		font-size: 11px;
	}
}
/*============*/
.footer{
  width: 100%;
  padding: 1em;
  font-size: 18px;
  background-color: teal;
}
.footer header{
	text-align: center;
}


.footer-section{
	width: 100%;
	padding: 1em;
}
.footer section ul{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: -5px;
	text-align: center;
}
.footer section ul li{
	width: 100%;
}
.footer section ul li b{
	font-size: 1.3em;
	color: white;
	text-transform: capitalize;
}
.footer section ul li a{
	display: inline-block;
	color: white !important;
	padding: 0.25em;
	text-transform: capitalize;
}
@media(max-width:1000px){
	.footer{
		font-size: 16px;
	}
}
@media(max-width:900px){
	.footer{
		font-size: 15px;
	}
}
@media(max-width:700px){
	.footer section ul{
		padding: 2em;
	}
	.footer section ul li a{
		font-size: 1.2em;
	}
}
@media(max-width:550px){
	.footer{
		font-size: 13px;
	}
}
@media(max-width:500px){
	.footer{
		font-size: 12px;
}
