*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
*:not(.fa){
	font-family: "Comfortaa",sans-serif;
}
a{
	text-decoration: none !important;
}
li,ul{
	list-style-type: none !important;
}
body{
  position: relative;
	padding: 0;
  margin: 0;
	background-color:#fffdf4;
}
button:focus{
	outline: 0 !important;
}
/*===*/
main{
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
}
#border-left,
#border-right,
#wrapper{
  display: table-cell;
  vertical-align: top;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  position: relative;
	overflow: hidden;
}
#border-left:after,
#border-right:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  z-index: 1;
}
#wrapper{
  width: 1400px;
}
@media(max-width:1450px){
  #wrapper{
    width: 100%;
  }
}
#masthead{
  width: 100%;
  background-color: white;
  left: 0;
  font-size: 16px;
}
#masthead .section{
  width: 100%;
}
.logo{
  vertical-align: middle;
  display: inline-block;
  padding-left: 3em;
}
#masthead .logo{
	width: 33.3%;
  text-align: left;
}
.footer .logo{
	text-align: center;
}
.logo a{
  display: inline-block;
  text-align: left;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
}
#masthead .logo img {
  width: 7em;
}
.footer .logo img{
  width: 5em;
}
.logo h1,
.logo h2{
  display: inline-block;
  line-height: 1em;
  font-weight: normal;
  text-transform: capitalize;
  vertical-align: middle;
  line-height: 0.9em;
}
.logo h1 {
  color: #00781a;
  font-size: 2.75em;
}
.footer h2{
	color: white;
	font-size: 2em;
}
.logo span{
  display: block;
  height: 0;
}
#contact-nav,
#main-nav {
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.5em;
}
#main-nav {
	width: 100%;
  background-color: #00bda6;
}
#main-nav ul {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
#main-nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 14.3%;
  margin-left: -5px;
}
#main-nav ul li a{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25em;
  text-transform: capitalize;
  border: 0;
  color: white;
  background-color:transparent;
  border-bottom: 0.1em solid transparent;
  transition: 0.3s;
}
#contact-nav{
  width: 100%;
  text-align: right;
}
#contact-nav ul {
  display: inline-block;
  vertical-align: middle;
  width: 66.6%;
  margin-left: -5px;
  text-align: right;
  padding-right: 3em;
}
#contact-nav ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
}
#contact-nav ul li a {
  color: black;
  font-size: 1.5em;
  letter-spacing: 1px;
  border-bottom: 0.1em solid transparent;
  transition: 0.3s;
}
#contact-nav ul li a:hover{
  border-bottom: 0.1em solid black;
}
#contact-nav ul li a span{
  font-size: 0.75em;
  text-transform: capitalize;
}
.social{
	display: block;
}
.social a {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: 0em 0.25em;
  background-size: cover;
  background-image: url('images/facebook_twitter_pinterest_youtube2.jpg');
  background-repeat: no-repeat;
}
.facebook-social {
 background-position:0 0;
}
.twitter-social {
 background-position:32% 0;
}
#main-nav ul li a:hover{
  border-bottom: 0.1em solid black;
}
@media(max-width:1300px){
	.logo {
    padding-left: 1em;
	}
	#contact-nav ul {
    padding-right: 1em;
	}
}
@media(max-width:1200px){
	#masthead .logo {
    width: 40%;
	}
	#contact-nav ul {
    width: 60%;
	}
}
@media(max-width:1000px){
	#main-nav {
		font-family: 15px;
	}
  #masthead{
    font-size: 15px;
  }
}
@media(max-width:900px){
	#contact-nav ul {
	  width: 50%;
	}
	#masthead .logo {
    width: 50%;
	}
}
@media(max-width:800px){
  #masthead {
    font-size: 14px;
  }
	#main-nav {
		font-size: 14px;
	}
}
@media(max-width:700px){
	#masthead{
		font-size: 12px;
	}
	#main-nav {
		font-size: 12px;
	}
}
.menu-btn {
  display: none;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 4em;
  height: 3em;
  transition: 0.3s;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.menu-btn hr {
	display: block;
	width: 100%;
	height: 0.35em;
	background-color: black;
	border: 0;
	transition: 0.3s;
	position: absolute;
}
.menu-btn-hr-1{
	top: 0;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.menu-btn-hr-3{
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1{
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2{
	opacity: 0;
}
.menu-btn.active .menu-btn-hr-3{
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
@media(max-width:600px){
	.logo h1 {
    color: #00781a;
    font-size: 2.25em;
	}
	#masthead .section{
		position: relative;
	}
	.menu-btn{
		display: block;
	}
	main {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
	}
	#masthead .logo {
    width: 50%;
    margin: 0 auto;
    display: block;
	}
	.social {
    position: absolute;
    right: 1em;
    top: 1em;
	}
	#contact-nav ul {
    width: 100%;
    text-align: center;
    padding-right: 0em;
		margin-top: 1.5em;
	}
	#contact-nav ul li {
		display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: -3px;
	}
	#main-nav {
	  position: absolute;
	  z-index: 999;
	  width: 100%;
	  transform: scaleY(0);
		transform-origin: top;
		transition: 0.3s;
	}
	#main-nav.active{
	  transform: scaleY(1);
	}
	#main-nav ul li {
	  display: block;
	  vertical-align: middle;
	  text-align: center;
	  width: 100%;
	  margin-left: 0;
	  padding: 1em;
	}
	#border-left,
	#border-right{
    display: none;
	}
	#wrapper {
    width: 100%;
    display: inline-block;
    white-space: normal;
	}
}
@media(max-width:540px){
	#masthead .logo{
    width: 23em;
    margin: 0 auto;
    display: block;
	}
	#masthead {
    font-size: 10px;
	}
	#main-nav {
		font-size: 12px;
	}
	.social a {
    width: 3em;
    height: 3em;
	}
	#contact-nav ul li a {
    font-size: 2em;
	}
	#contact-nav ul li a span {
    display: block;
	}
	#masthead .logo img {
    width: 6em;
	}
}
@media(max-width:400px){
	.logo h1 {
    color: #00781a;
    font-size: 2.25em;
	}
	#masthead {
    font-size: 8px;
	}
	#main-nav {
		font-size: 10px;
	}
	.menu-btn {
    width: 3em;
    height: 2em;
	}
}
/*============================*/
#catalog{
	width: 100%;
}

#catalog-main {
  background-color: white;
  font-size: 16px;
  text-align: center;
}
/*============================*/
#catalog-nav{
	z-index: 999;
	position: relative;
  box-shadow: 0px 0px 15px transparent;
	transition: 0.3s;
	text-align: center;
}
#catalog-nav.static{
	position:relative;
	min-height: 4em;
	z-index: 998;
}
#catalog-nav.fixed{
	position: fixed;
	min-height: 0;
	top: 0;
	left: 0;
}
#toggle-catalog{
  position: absolute;
  right: 1em;
  top: 0.5em;
  font-size: 1em;
  border: 0.5em;
  padding: 0.5em;
  border-radius: 2em;
  text-transform: capitalize;
}
#toggle-catalog .material-icons {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
}
#toggle-catalog .state2{
	display: block;
}
#toggle-catalog .state1{
	display: none;
}
#toggle-catalog.active .state2{
	display: none;
}
#toggle-catalog.active .state1{
	display: block;
}
#vendor-nav,
#product-sort {
 width: 100%;
text-align: center;
transition: 0.3s;
opacity: 1;
padding-bottom: 0.5em;
background-color: white;
}
#vendor-nav h4,
#product-sort h4 {
  font-size: 1.5em;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-weight: normal;
}

#vendor-nav ul,
#product-sort ul {
  display: inline-block;
	text-align: left;
  vertical-align: middle;
  width: 40em;
}
#vendor-nav{
	height: auto;
}
#product-sort{
	height: auto;
}
#vendor-nav.hidden,
#product-sort.hidden {
  overflow: hidden;
  margin-left: -100%;
  height: 0;
}
#vendor-nav li, #product-sort li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
	position: relative;
	margin: 0% 1.5%;
}
.sort-btn{
  font-size: 1.1em;
  padding: 0.35em 1.25em;
  background: none;
	color: #00bda6;
  border-radius: 2em;
  text-transform: capitalize;
	cursor: pointer;
	border: 2px solid #00bda6;
	display: block;
	border: 1%;
}
.sort-btn:hover,
.sort-btn.active{
	color: white;
	background-color: #00bda6;
}
.drop-down {
  position: absolute;
  top: 3em;
  left: 0;
  width: 0em;
  background-color: #00bda6;
	height: auto;
	overflow: hidden;
	transition: 0.3s;
}
.sort-btn.active + .drop-down{
	color: white;
	background-color: #00bda6;
	width: 14em;
}
.drop-down button{
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: white;
	padding: 1em;
	background-color: transparent;
	border: 0;
	white-space: nowrap;
}
#product-sort li p {
  font-size: 1.25em;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
#product-sort .material-icons{
	font-size: 1em;
	color: inherit;
}
@media(max-width:1000px){
	#vendor-nav, #product-sort {
	  text-align: left;
	}
}
@media(max-width:900px){
	#vendor-nav h4,
	#product-sort h4 {
    display: block;
    text-align: center;
    font-size: 1.25em;
		padding: 0.5em
	}
	#vendor-nav li,
	#product-sort li {
    margin: 0% 0.5%;
	}
	#vendor-nav, #product-sort {
		text-align: center;
	}
	#vendor-nav ul, #product-sort ul {
    display: block;
    text-align: center;
    width: 100%;
	}
}
@media(max-width:500px){
	#vendor-nav li, #product-sort li {
    margin-left: 0px;
    width: 50%;
    padding: 0.5em;
    text-align: center;
    margin-right: -10px;
	}
	.sort-btn {
		width: 100%;
	}
}
/*============================*/
#catalog-main .description {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1em;
    line-height: 2em;
}
#catalog-main header {
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.75em;
}
#catalog-nav{
	width: 100%;
}
#product-list {
	width: 100%;
  margin: 0 auto;
}
.product{
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
  margin-left: -2px;
  margin-right: -2px;
	overflow: hidden;
	margin-bottom: 2em;
	border: 1.75em solid white;
}
#p1 .section{
	margin-right: 0em;
	background-size: cover;
	background-position: bottom;
	background-image: url("images/helicopterImg2.jpeg");
}
.product .section{
	height: 24em;
	position: relative;
}
.product .section .article {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5em;
  padding-left: 1em;
	padding-right: 1em;
  padding-bottom: 1em;
  background: -moz-linear-gradient(top, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  background: -webkit-linear-gradient(top, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  background: linear-gradient(to bottom, rgba(240,249,255,0) 0%,rgb(17, 71, 141) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#784775b2',GradientType=0 );
}
.product .section h3 {
  font-size: 1.25em;
  color: white;
  text-transform: capitalize;
  padding: 0.75em 0em;
}
.product .section p {
  color: white;
	text-transform: capitalize;
  font-size: 0.9em;
}
.product .section p{
	color: white;
}
.product .section dl {
  text-transform: capitalize;
  display: inline-block;
  width: 50%;
  margin-right: -3px;
	vertical-align: middle;
}
.product .section dd{
	font-size: 1em;
	color: white;
}
.product .section dt {
  color: white;
  font-size: 1.25em;
}
.product .section a {
  text-transform: capitalize;
  display: inline-block;
  width: 50%;
  margin-left: -3px;
  text-align: center;
  color: white;
	border: 2px solid white;
  padding: 0.5em 0em;
  border-radius: 2em;
	vertical-align: middle;
	transition: 0.3s;
}
.product .section a:hover{
  background-color: gold;
  color: darkblue;
}
.product .review {
  display: block;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.product .review i {
  display: inline-block;
  vertical-align: top;
  color: #d6ac08;
  width: 0.75em;
  font-size: 2em;
}
.product .review img{
	font-size: 1em;
	width: 3em;
}
.discount-badge{
	position: absolute;
	left: 1em;
	top: 1em;
	background-color: white;
	color: darkblue;
	font-size: 1em;
	border-radius: 3em;
	padding: 0.75em;
}
.discount-badge span {
  font-size: 1.5em;
}
.learn-more{
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 1em;
  border-radius: 3em;
  padding: 1.2em 0.75em;
  text-transform: capitalize;
	z-index: 9;
  border: 0;
	transition: 0.3s;
	cursor: pointer;
}
.learn-more:hover {
	background-color: gold;
	color: #113d67;
}
.duration{
	opacity: 0;
	height: 0;
	overflow: hidden;
}
@media(max-width:1300px){
	#catalog-main{
		font-size: 16px;
	}
}
@media(max-width:1000px){
	.product{
    width: 50%;
	}
	#p1 .section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p2 .section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p3 .section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#p4 .section{
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 1em;
	}
	#catalog-main{
		font-family: 15px;
	}
}
@media(max-width:800px){
  #catalog-main{
    font-size: 14px;
  }
}
@media(max-width:700px){
	#catalog-main{
		font-size: 12px;
	}
	#product-list  {
    width: 100%;
	}
	#product-list  {
		padding: 0.5em;
	}
}
@media(max-width:600px){
	.product {
    border: 0.5em solid white;
	}
	#vendor-nav {
    padding-top: 1em;
	}
}
@media(max-width:400px){
	#catalog-main{
		font-size: 11px;
	}
	.product .section .article {
    padding-left: 0.5em;
    padding-right: 0.5em;
	}
	.product {
    width: 100%;
	}
}
/*==============================*/
.detail-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.75);
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	height: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 999;
	transition: 0.5s;
	font-size: 17px;
}
.detail-wrapper.active{
	padding-top: 4%;
	padding-bottom: 4%;
	height:100%;
}
.detail {
  width: 900px;
  background-color: white;
  margin: 0 auto;
}
@media(max-width:950px){
	.detail {
		width: 100%;
	}
	.detail-wrapper{
		padding-left: 10%;
		padding-right: 10%;
	}
}
.detail header {
 width: 100%;
  padding: 1em;
  text-align: left;
  position: relative;
  background:url('images/Oahu_Experience_2.JPG');
	background-size: cover;
	background-position: 0% 33%;
  height: 15em;
}
.detail header h2 {
  font-size: 2em;
  text-transform: capitalize;
  color: white;
  position: absolute;
  bottom: 0;
	left: 0;
  box-shadow: inset 0em -1em 3em -1em #15213f;
  width: 100%;
  padding: 0.5em;
}
.detail header button {
  position: absolute;
  right: 0.55em;
  top: 0.75em;
  font-size: 1em;
  border: 0;
  background: 0;
}
.detail header .material-icons {
	font-size: 2em;
  border-radius: 1em;
  padding: 0.15em;
  color: white;
  border: 0.1em solid;
	cursor: pointer;
}
.detail .section .article p {
  padding: 1.5em;
  line-height: 2em;
  font-size: 1em;
}
.detail ul {
  width: 100%;
  display: table;
}
.detail ul li {
  width: 33.3%;
  display: table-cell;
  text-align: center;
	font-size: 1.5em;
}
.detail .article span {
  display: block;
  text-transform: capitalize;
  font-size: 0.75em;
}
.detail .article a {
  font-size: 1.5em;
  margin: 1em auto;
  display: inline-block;
  text-transform: capitalize;
  border: 0.1em solid teal;
  border-radius: 2em;
  padding: 0.5em;
  color: teal;
}
@media(max-width:1300px){
	.detail-wrapper{
		font-size: 16px;
	}
}
@media(max-width:1000px){
	.detail-wrapper{
		font-family: 15px;
	}
}
@media(max-width:800px){
  .detail-wrapper{
    font-size: 14px;
  }
}
@media(max-width:700px){
	.detail-wrapper{
		font-size: 12px;
	}
}
@media(max-width:400px){
	.detail-wrapper{
		font-size: 11px;
	}
}
/*============*/
.footer{
  width: 100%;
  padding: 1em;
  font-size: 18px;
  background-color: teal;
}
.footer header{
	text-align: center;
}
.footer .section{
	width: 100%;
	padding: 1em;
}
.footer .section ul{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: -5px;
	text-align: center;
}
.footer .section ul li{
	width: 100%;
}
.footer .section ul li b{
	font-size: 1.3em;
	color: white;
	text-transform: capitalize;
}
.footer .section ul li a{
	display: inline-block;
	color: white !important;
	padding: 0.25em;
	text-transform: capitalize;
}
@media(max-width:1000px){
	.footer{
		font-size: 16px;
	}
}
@media(max-width:900px){
	.footer{
		font-size: 15px;
	}
}
@media(max-width:700px){
	.footer .section ul{
		padding: 2em;
	}
	.footer .section ul li a{
		font-size: 1.2em;
	}
}
@media(max-width:550px){
	.footer{
		font-size: 13px;
	}
}
@media(max-width:500px){
	.footer{
		font-size: 12px;
}
